.my_account_page_content_wrapper{
   &.login-register-page{
      background: #F1F2F6;
      padding: 100px 0!important;
      min-height: auto!important;
      margin: 0;
      .z-register-form{
         border-radius: 8px;
         box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
         overflow: hidden;
         background: #fff;
         .modal-header{
            display: none;
         }
         .register-content-left{
            background: #EFF6FE;
            position: relative;
            .img-register{
               display: inline-block;
               position: relative;
               top: 50%;
               transform: translateY(-50%);
            }
            .content-inner{
               padding: 0 15px;
               text-align: center;
               position: absolute;
               bottom: 20px;
               left: 0;
               width: 100%;
               font-weight: 500;
               font-size: 16px;
            }
         }
         .register-form-content{
            padding: 50px;
            .title{
               margin: 0 0 6px;
               font-size: 30px;
            }
            .desc{
               font-size: 16px;
            }
            #registration_form{
               margin: 0 -15px;
            }
            #registration_form > div{
               padding: 10px 15px;
               label{
                  color: $black;
               }
            }
            .statement{
               text-align: left!important;
               .register-notes{
                  font-weight: 500;
               }
            }
            .new-submit{
               text-align: left;
               #new-submit{
                  border: none;
                  &:hover{
                     background: $theme-color;
                     color: $white;
                  }
               }
            }
         }
      }
      .z-login-form{
         border-radius: 8px;
         box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
         overflow: hidden;
         background: #fff;
         max-width: 600px;
         margin: 0 auto;
         .form-content{
            padding: 50px;
            #babe_login{
               display: block;
               > div{
                  width: 100%;
                  padding: 10px 0;
                  label{
                     color: $black;
                     font-weight: 500;
                  }
               }
            }
            #forgot_url a{
               color: $theme-color;
               font-size: 16px;
               font-weight: 500;
               &:hover{
                  text-decoration: underline;
               }
            }
            .user-registration{
               text-align: center;
               a{
                  color: $theme-color;
                  margin-left: 6px;
                  &:hover{
                     text-decoration: underline;
                  }
               }
            }
         }
      }
   }
   
   #login_registration{
      h3{
         display: none;
      }
      .registration_link{
         display: none;
      }
      #registration{
         display: block;
      }
   }
   .my_account_user_profile{
      background: $white;
      border-radius: 8px;
      box-shadow: 0 0 20px 0 rgba(6, 30, 98, 0.08);
      padding: 20px;
      margin: 0 10px 15px;
      .my_account_user_avatar{
         margin-right: 20px;
         @media(max-width: 600px){
            margin-right: 0;
         }
      }
      .my_account_user_info{
         margin: 0 10px;
         table{
            border: 0;
            margin: 0;
            td{
               border: 0;
               line-height: 30px;
               font-size: 16px;
               line-height: 20px;
               &.my_account_label{
                  padding-right: 15px;
                  font-weight: 500;
                  color: $black;
                  &:after{
                     content: ':';
                  }
               }
            }
         }
      }
   }
}

.tevily-dashboard-page{
   .my-account-header{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 30px;
      height: 68px; 
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 11;
      box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.05);
      background: $white;
      @media(max-width: 640px){
         padding: 0 15px;
      }
      .logo{
         max-width: 180px;
         @media(max-width: 640px){
            max-width: 100px;
            padding-top: 10px;
         }
         img{
            max-height: 100%;
         }
      }
      .header-right{
         display: flex;
         .wishlist{
            margin-right: 15px;
            padding-right: 15px;
            border-right: 1px solid $border-color;
            a{
               color: $theme-color;
               font-size: 16px;
               position: relative;
               top: 2px;
               @media(max-width: 640px){
                  font-size: 0;
                  top: 6px;
               }
               i{
                  font-size: 18px;
                  @media(max-width: 640px){
                     font-size: 26px;
                  }
               }
               &:hover{
                  text-decoration: underline;
               }
            }
         }
         .user-profile{
            display: flex;

            .avata{
               @include size(36px, 36px);
               border-radius: 50%;
               overflow: hidden;
            }
            .name{
               text-transform: capitalize;
               font-size: 16px;
               margin-left: 10px;
               font-weight: 500;
               @media(max-width: 640px){
                  display: none;
               }
            }
         }
      }
   }
   #my_account_page_wrapper{
      margin-top: 68px;
      @media(max-width: 881px){
         position: relative;
      }
   }
   .my_account_page_nav_wrapper{
      position: fixed;
      top: 68px;
      bottom: 0;
      left: 0;
      z-index: 9;
      background: $white;
      box-shadow: 0 6px 15px 0 rgba(0, 0, 0, 0.1);
      border-right: 1px solid $border-color;
      padding: 0;
      width: 300px;
      @media(max-width: 881px){
         position: absolute;
         top: 12px;
         bottom: auto;
         margin: 0!important;
         left: 10px;
         .my_account_page_nav_selector{
            border: none;
            border-top: 1px solid $border-color;
            border-bottom: 1px solid $border-color;
            border-radius: 0;
         }
      }
      .my_account_page_nav_list{
         padding: 30px 0;
         position: relative;
         @media(max-width: 881px){
            border: none;
         }
         ul.my_account_nav_list_0 {
            > li{
               > .my_account_nav_item_title{
                  padding: 5px 20px;
                  text-transform: uppercase;
                  font-size: 14px;
                  color: $black;
               }
            }
         }

         ul.my_account_nav_list_1, ul.my_account_nav_list_0{
            li{
               background: none;
               > a{
                  transition: all 0.35s;
                  position: relative;
                  &:after{
                     content: '';
                     width: 3px; 
                     height: 100%;
                     background: $theme-color;
                     position: absolute;
                     left: 0;
                     top: 0;
                     z-index: 1;
                     opacity: 0;
                  }
                  .my_account_nav_item_title{
                     font-size: 16px;
                     color: $body-color;
                     padding: 8px 20px;
                     .my_account_nav_item_icon{
                        font-size: 22px;
                        margin-right: 5px;
                        position: relative;
                        top: 2px;
                     }
                     &:hover{
                        background: #F5F7FA;
                        &:after{
                           opacity: 1;
                        }
                     }
                  }
               }
               &.my_account_nav_item_current{
                  > a{
                     background: #F5F7FA;
                     &:after{
                        opacity: 1;
                     }
                  }
               }
            }
         }
      }
      .mCSB_container{
         margin: 0;
      }
      #mCSB_1_scrollbar_vertical{
         width: 4px;
      }
      .mCSB_dragger_bar{
         background: #ccc!important;
      }
      .mCSB_draggerRail{
         background:  none;
      }
   }

   .my_account_page_content_wrapper{
      padding: 0 20px 20px 320px;
      min-height: calc(100vh - 68px);
      background: #F5F7FA;
      margin-top: 0!important;
      @media(max-width: 881px){
         padding: 0;
      }
      .my_account-content-inner{
         max-width: 1200px;
         margin: 50px auto;
         @media(max-width: 881px){
            margin: 70px auto 50px;
         }
      }
   }

   .my_account_all_posts_inner, .my_account_my_bookings_inner, .my_account_edit_post_inner, #edit_user_profile, #change_user_password{
      background: $white;
      box-shadow: 0 0 20px 0 rgba(6, 30, 98, 0.08);
      padding: 20px;
      border-radius: 8px;
      overflow: auto;
      @media(max-width: 881px){
         padding: 10px;
      }
      .my_account_all_posts_total{
         color: $black;
         font-size: 16px;
      }
   }

   #edit_user_profile{
      overflow: hidden;
      .edit-profile-avatar{
         width: 100%;
         text-align: center;
         flex: 0 0 100%;
         display: block;
         position: relative;
         padding-bottom: 60px;
         img{
            border-radius: 6px;
         }
         .button_link{
            position: absolute;
            background: $theme-color;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            padding: 8px 15px;
            font-size: 14px;
            letter-spacing: 0;
            text-transform: none;
            border-radius: 4px;
         }
      }
   }

   .edit-profile-form-block{
      margin-bottom: 10px!important;
      .checkout_form_input_underline{
         display: none;
      }
      .checkout_form_input_label{
         font-size: 14px;
         color: $black;
         margin-bottom: 3px;
         @include scale(1);
         position: relative;
         font-weight: 500;
      }
   }
   
   .cmb-type-group .cmb-row.cmb-repeat-group-field, .cmb2-postbox .cmb-row.cmb-repeat-group-field{
      padding: 15px;
   }
   .cmb-th{
      width: 20%!important;
      float: left;
      font-weight: 500;
      color: $headings-color;
      font-size: 16px;
      line-height: 22px;
      padding-top: 4px;
      padding-right: 10px;
   }
   .cmb-th + .cmb-td, .cmb-type-group .cmb-th + .cmb-td, .cmb2-postbox .cmb-th + .cmb-td{
      width: 80%;
      float: right;
   }
   .cmb-type-group .cmb-repeatable-group:not(:last-of-type), .cmb-type-group .cmb-row:not(:last-of-type), .cmb2-postbox .cmb-repeatable-group:not(:last-of-type), .cmb2-postbox .cmb-row:not(:last-of-type){
      margin-bottom: 15px;
      padding-bottom: 10px;
   }
   .cmb-repeatable-group .cmb-group-title{
      background: #E9E9E9;
   }
   .cmb-group-description{
      .cmb-th{
         width: 100%!important;
      }
      > .cmb-th{
         font-weight: 700;
         color: $black;
         text-transform: uppercase;
         font-size: 16px!important;
         .cmb2-metabox-description{
            font-style: normal;
         }
      }
   }
   .cmb-type-price-details{
      .cmb-td{
         #prices-form{
            margin-bottom: 10px!important;
         }
         h3{
            font-size: 20px;
         }
         .button-secondary{
            padding: 0 10px 1px!important;
            border: none;
            height: 28px;
            &:hover{
               background: $theme-color;
               color: $white;
            }
         }
      }
   }
   .cmb-type-discount{
      .cmb-td{
         .discount-block{
            display: flex;
            flex-wrap: wrap;
            font-size: 16px;
            > div{
               margin-right: 15px;
            }
         }
      }
   }
   .cmb-type-tax-children-multicheck{
      border-bottom: 1px solid $border-color;
      padding: 15px 0 0!important;
      .term_item{
         margin-bottom: 18px;
         float: left;
      }
      .term_item_level_0{
         font-weight: 500;
         color: $black;
         font-size: 16px;
         width: 100%;
      }
      .term_item_level_1{
         padding-right: 15px;
         font-size: 16px;
         font-weight: 400;
         color: $body-color;
      }
   }

   .cmb2-checkbox-list{
      li{
         padding: 6px 0;
         label{
            color: $black;
            font-size: 16px;
            font-weight: 500;
         }
      }
   }
   .cmb2-id-related-items{
      .cmb2-checkbox-list{
         li{
            padding: 6px 15px 0 0;
            label{
               color: $black;
               font-size: 16px;
               font-weight: 400;
            }
         }
      }
      .related_collapsible{
         background: #E9E9E9;
         border: none;
         text-align: left;
         font-weight: 500;
         font-size: 16px;
         width: 100%;
         box-shadow: none;
         &.collapsed{
            background: #D0D0D0;
         }
      }
      .content{
         padding: 20px 0;
         ul.cmb2-checkbox-list{
            li{
               margin-bottom: 10px;
               margin-right: 15px;
               font-size: 16px;
               label{
                  color: $body-color;
               }
            }
         }
      }
   }

   .my_account_edit_post_inner{
      .button{
         padding: 8px 10px 4px;
      }
      .cmb2-wrap li{
         font-size: 16px;
         line-height: 24px;
         input[type=radio]{
            position: relative;
            top: 2px;
         }
      }
      .button-secondary:not(#rate_new_open){
         background: #4D5FE3;
         border-radius: 4px;
         font-size: 14px;
         color: $white;
         border: none;
         box-shadow: none;
         transition: all 0.35s;
         font-weight: 500;
         padding: 8px 12px;
         line-height: 20px;
         height: auto;
         &.cmb-shift-rows{
            border-radius: 4px;
            padding: 5px;
            .dashicons{
               margin: 0;
            }
         }
         &:hover{
            opacity: 0.8;
         }
      }
      .service_prices_block{
         font-size: 16px;
         .service_price_item{
            margin-bottom: 15px;
            label{
               min-width: 220px;
            }
         }
      }
   }

   .cmb-type-row-header{
      margin: 20px 0 10px!important;
   }

   .cmb-row{
      padding-bottom: 10px;
      .cmb-remove-field-row{
         margin: 0;
         padding: 0 15px;
         .cmb-remove-row{
            display: flex;
            justify-content: flex-end;
            align-items: center;
            button{
               margin-left: 2px;
            }
         }
      }

      .cmb2-before-row-header{
         background: #202F59!important;
         padding: 5px 15px;
      }
      .cmb2-metabox-description{
         font-size: 14px;
         margin-bottom: 0;
      }
      input[type="text"], input[type="tel"], input[type="password"], input[type="email"], input[type="url"], input[type="date"], input[type="number"], textarea, select{
         line-height: 36px;
         padding: 0 10px;
      }
      .cmb-add-row{
         margin-top: 15px;
      }
   }

   table.my_account_all_posts_table, table.my_account_my_bookings_table{ 
      thead{
         tr{
            td, th{ 
               background: #F5F7FC;
               color: $black;
               border: 0;
               padding: 15px 15px;
               font-weight: 700;
               font-size: 15px;
            }
         }
      }
      tr{
         border-bottom: 1px solid $border-color;
         td{
            padding: 15px 10px 15px; 
            border: none;
            line-height: 20px;
            &.my_account_all_posts_td_title{
               .title-image{
                  display: flex;
                  align-content: center;
                  align-items: center;
                  .image{
                     width: 90px;
                     flex: 0 0 90px;
                  }
                  .title{
                     padding-left: 10px;
                     font-weight: 500;
                     font-size: 16px;
                  }
               }
            }
            &.my_account_all_posts_td_date{
               width: 130px;
               font-size: 14px;
               color: $body-color;
               font-weight: 500;
            }
            &.my_account_all_posts_td_action{
               width: 50px;
               text-align: center;
               a{
                  font-size: 20px;
                  color: $theme-color;
                  &:hover{
                     color: $black;
                  }
               }
               .ajax-wishlist-link{
                  @include size(30px, 30px);
                  border-radius: 6px;
                  background: rgba(0, 0, 0, 0.6);
                  color: $white!important;
                  display: inline-block;
                  text-align: center;
                  font-size: 16px;
                  &.ajax-preload{
                     opacity: 0.68;
                  }
                  &.wishlist-added{
                     background: $theme-color;
                  }
               }
            }
         }
      }
   }

}

body.logged-in.admin-bar{
   .tevily-dashboard-page{
      .my-account-header{
         margin-top: 32px;
         @media(max-width: 782px){
            margin-top: 46px;
         }
         @media(max-width: 600px){
            position: relative;
            margin-top: 0;
         }
      }
      #my_account_page_wrapper{
         margin-top: 68px;
         @media(max-width: 600px){
            margin-top: 0;
         }
      }
      .my_account_page_nav_wrapper{
         margin-top: 30px;
      }
  }
}

