// Form Search, Booking...
.daterangepicker{
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.06);
	border: 1px solid rgba(0, 0, 0, 0.06);
	margin-left: -66px!important;
	margin-top: 15px!important;
	@media(max-width: 1024px){
		margin-left: -48px!important;
		margin-top: 11px!important;
	}
	@media(max-width: 800px){
	}
	.drp-buttons{
	 	padding: 15px 15px 0;
	 	.btn{
			font-size: 14px;
			text-transform: none;
			letter-spacing: 0;
			margin: 0 5px;
		}
	}
}

.tevily-search-form-wrap{
	transition: all 0.36s;
	&.show{
		opacity: 1!important;
	}
}

.tevily-search-form{
	position: relative;
	display: block!important;
	z-index: 11;
	padding: 0!important;
	&.hidden-tab-yes{
		#search_form_tabs{
			display: none;
		}
	}
	#search_form{
		width: 100%;
		box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.05);
		border-radius: 8px;
		background: $white;
		@media(max-width: 1024px){
			padding: 15px;
		}
		@media(max-width: 800px){
			padding: 15px 0 5px; 
		}
		.input-group{
			display: flex;
		   flex-wrap: wrap;
		   flex-direction: row;
		   justify-content: center;
		   align-items: center;
		   position: relative;
		   justify-content: left;
		   .add_input_field.is-active[data-tax]:nth-child(1){
				z-index: 19;
			}
			.add_input_field.is-active[data-tax]:nth-child(2){
				z-index: 18;
			}
			.add_input_field.is-active[data-tax]:nth-child(3){
				z-index: 17;
			}
			.add_input_field.is-active[data-tax]:nth-child(4){
				z-index: 16;
			}
			.add_input_field.is-active[data-tax]:nth-child(5){
				z-index: 15;
			}
			.add_input_field.is-active[data-tax]:nth-child(6){
				z-index: 12;
			}
			> .is-active{
				border-bottom: 0;
				border-right: 1px solid $border-color;  
				padding: 15px 20px;
				margin: 0;
				position: relative;
				@media(max-width: 1024px){
					padding: 0 15px;
					border-right: 0;
					.field-group-content{
						padding-bottom: 10px;
					}
				}
				.field-group-content{
					display: flex;
					position: relative;
					.icon{
						padding-right: 10px;
						padding-top: 4px;
						line-height: 1;
						i{
							font-size: 36px; 
							color: $theme-color; 
						}
					}
					.field-content{
						line-height: 22px;
						flex-grow: 1; 
						flex-shrink: 0;
						.title-field, .search_guests_title{
							font-size: 14px;
							font-weight: 500;
							display: block;
							width: 100%;
							padding: 0!important; 
						}
						.add_ids_title{
							padding: 0;
							width: 100%;
							position: static;
							&:after{
								content: '';
								width: 100%;
								height: 100%;
								position: absolute;
								top: 0;
								left: 0;
								z-index: 1;
							}
							i{
								font-size: 10px;
								right: 0;
								top: 8px;
								padding: 0;
							}
							.add_ids_title_value{
								font-size: 16px;
								font-weight: 700;
								color: $black;
								padding-right: 12px;
							}
							ul.add_ids_list{
								left: 0;
								right: 0;
								margin-top: 15px;
								font-size: 15px;
								list-style: none;
								padding: 6px 0;
								border-radius: 0 0 8px 8px;
								border: 1px solid rgba(0, 0, 0, 0.06);
								box-shadow: 0 5px 10px rgba(0, 0, 0, 0.06);
								z-index: 11;
								@media(max-width: 1024px){
									left: 0;
									right: 0;
									margin-top: 0;
								}
								li{
									list-style: none;
									font-weight: 400;
									padding: 5px 10px 5px 15px;
									ul{
										padding: 0;
									}
									&:not(.term_item_disabled ):hover{
										background: #FAF8F4;
										color: $black;
									}
								}
								.term_item_level_0.term_item_disabled{
									font-weight: 700;
									color: $black;
								}
							}
						}
					}
				}
			}	
			.search_guests_field{
				position: relative;
				.field-content{
					.search_guests_title{
						&:after{ 
							content: '';
							width: 100%;
							height: 100%;
							position: absolute;
							left: 0;
							top: 0;
							z-index: 11;
						}
					}
					.search_guests_title_value{
						font-size: 16px;
						font-weight: 700;
						color: $black;
					}
					.search_guests_select_wrapper{
						padding: 20px 20px 15px;
						margin-top: 16px;
						left: 0;
						margin-left: -20px;
						border-radius: 0 0 8px 8px;
						border: 1px solid rgba(0, 0, 0, 0.06);
						box-shadow: 0 5px 10px rgba(0, 0, 0, 0.06);
						@media(max-width: 1024px){
							margin-left: 0;
							margin-top: 11px;
						}
						.input_select_field{
							font-size: 16px;
							border-bottom: 1px solid $border-color;
							padding-bottom: 5px;
							margin-bottom: 5px;
							.search_guests_plus, .search_guests_minus{
								width: 26px;
								height: 26px;
								line-height: 26px;
								padding: 0;
								margin-top: 8px;
								padding-left: 3px;
								text-align: center;
								background: $black;
								i{
									font-size: 11px;
								}
								&:hover{
									background: $theme-color;
								}
							}
							.search_guests_plus{
								margin-left: 5px;
							}
						}

						.search_apply_btn{
							padding: 10px 15px;
						}
					}
				}
			}
			.search-date{
				position: relative;
				.title-field{
					&:after{
						content: '';
						width: 100%;
						height: 100%;
						position: absolute;
						left: 0;
						top: 0;
						z-index: 11;
					}
					&:hover{
						cursor: pointer;
					}
				}
				.search_date{
					padding: 0;
					font-size: 16px;
					font-weight: 700;
					color: $black;
					position: relative;
				}
			}
			.search_advanced_field{
				padding: 0 10px;
				width: 75px;
				border: none;
				position: static;
				div{
					width: 100%;
				}
				> i.fa-filter{
					display: none;
				}
				.search_advanced_title{
					font-size: 0;
					color: transparent;
					text-align: center;
					width: 100%;
					padding: 14px 0 0;
					&:before{
						content: "\f1de";
						font-family: 'Line Awesome Free';
    					font-weight: 900;
    					font-size: 30px;
    					color: $theme-color;

					}
				}
				.search_advanced_select_wrapper{
					left: 0;
					z-index: 11;
					width: auto;
					left: -30px;
					right: -30px!important;
					margin: 30px 0 0;
					padding: 30px 30px 12px;
					border-radius: 8px;
					border-color: rgba(0, 0, 0, 0.06);
					box-shadow: 0 10px 20px rgba(0, 0, 0, 0.06);
					> div{
						margin-bottom: 20px;
						padding-bottom: 10px;
						border-bottom: 1px solid $border-color;
						.field-group-content{
							border: none;
						}
						&.advanced-price-content{
							border: none;
						}
						&:nth-last-child(1), &:nth-last-child(2){
							border: none;
							margin-bottom: 0;
						}
					}
					.price-header{
						display: none;
					}
					.advanced-header, .price-header{
						font-size: 18px;
						margin-bottom: 10px;
					}
					.advanced-taxonomy-block{
						.add_ids_list{
							font-size: 16px;
							.term_item{
								width: calc(100% / 3);
								max-width: calc(100% / 3);
								padding: 2px 0;
								&.term_item_level_0:not(.term_item_checkbox){
									display: block;
									width: 100%;
									max-width: 100%;
								}
							}
							.term_item_level_0:not(.term_item_checkbox){
								font-weight: 700;
								color: $black;
							}
						}
					}
					.search_guests_apply{
						display: none;
					}
				}	
			}
			.submit{
				width: 165px;
				height: 100%;
				position: absolute;
				right: 0;
				top: 0;
				text-align: center;
				margin: 0;
				padding: 10px 0;
				z-index: 1;
				@media(max-width: 1024px){
					height: auto;
					top: 50%;
					margin-top: -40px;
				}
				@media(max-width: 800px){
					position: relative;
					top: 0;
					margin: 0;
					padding: 10px 15px;
					width: 100%;
				}
				.btn-search{
					position: absolute;
					top: 0;
					left: 0;
					z-index: 11;
					background: $theme-color; 
					width: 100%;
					height: 100%;
					line-height: 100%;
					border-radius: 0 8px 8px 0;
					box-shadow: none;
					border: none;
					padding: 23px 10px;
					@media(max-width: 1024px){
						position: relative;
						border-radius: 8px;
					}				
				}
			}
		}
		
		// Responsive
		@media(max-width: 800px){
			.input-group{
				> .is-active{
					padding: 0 15px;
					&.search_advanced_field{
						display: none;  // display none
						position: relative;
						width: 100%;
						margin-top: 0!important;
						padding: 0 20px;
						.search_advanced_title{
							display: inline-block!important;
							font-size: 16px;
							color: $black;
							font-weight: 700;
							text-align: left;
							padding-bottom: 15px;
							&:before{
								padding-right: 10px;
								position: relative;
								top: 6px;
							}
						}
					}
				}
			}
		}
	}
} 

.tevily-search-form{
	&.layout-1, &.layout-1-2{
		#search_form{
			.input-group{
				.search_advanced_field{
					.search_advanced_select_wrapper{
						margin: 9px 0 0;
						left: 0;
						right: 0!important;
					}
				}
			}
			&.form-col-1{
				.input-group{
					> .is-active:not(.search_advanced_field){
						max-width: calc( (100% - 240px) / 1  );
						flex: 0 0 calc( (100% - 240px) / 1 );
					}
				}
			}
			&.form-col-2{
				.input-group{
					> .is-active:not(.search_advanced_field){
						max-width: calc( (100% - 240px) / 2  );
						flex: 0 0 calc( (100% - 240px) / 2 );
						@media(max-width: 800px){
							max-width: 100%;
							flex: 0 0 100%;
							border-bottom: 1px solid $border-color;
							border-right: 0;
							display: block;  
						}
					}
				}
			}
			&.form-col-3{
				.input-group{
					> .is-active:not(.search_advanced_field){
						max-width: calc( (100% - 240px) / 3  );
						flex: 0 0 calc( (100% - 240px) / 3 );
						@media(max-width: 800px){
							max-width: 100%;
							flex: 0 0 100%;
							border-bottom: 1px solid $border-color;
							border-right: 0;
							display: block;  
						}
					}
				}
			}
			&.form-col-4{
				.input-group{
					> .is-active:not(.search_advanced_field){
						max-width: calc( (100% - 240px) / 4  );
						flex: 0 0 calc( (100% - 240px) / 4 );
						&.search_guests_field{
		    				max-width: calc( (100% - 240px) * 0.2 );
							flex: 0 0 calc( (100% - 240px) * 0.2 );
						}
						&.add_input_field[data-tax="ba_location"]{
		    				max-width: calc( (100% - 240px) * 0.3 );
							flex: 0 0 calc( (100% - 240px) * 0.3 );
						}
						@media(max-width: 1024px){
							max-width: calc( (100% - 240px) / 2 )!important;
							flex: 0 0 calc( (100% - 240px) / 2 )!important; 
							.field-group-content{
								border-bottom: 1px solid $border-color;
								margin: 5px 0;
							}
						} 
						@media(max-width: 800px){
							max-width: 100%!important;
							flex: 0 0 100%!important;
							border-right: 0;
							display: block;  
						}
					} 

					@media(max-width: 1024px){
						.search_advanced_field{
							margin-top: -68px!important;
						}
					}
					@media(max-width: 800px){
						.search_advanced_field{
							display: none;
						}
					}
				}
			}
			&.form-col-5{
				.input-group{
					> .is-active:not(.search_advanced_field){
						max-width: calc( (100% - 240px) / 5  );
						flex: 0 0 calc( (100% - 240px) / 5 );
						@media(max-width: 1024px){
							max-width: 100%!important;
							flex: 0 0 100%!important;
							border-bottom: 1px solid $border-color;
							border-right: 0;
							display: block;  
						}
					}
					@media(max-width: 1024px){
						.search_advanced_field{
							position: relative;
							width: 100%;
							margin-top: 0!important;
							padding: 0 20px;
							.search_advanced_title{
								display: inline-block!important;
								font-size: 16px;
								color: $black;
								font-weight: 700;
								text-align: left;
								padding-bottom: 15px;
								&:before{
									padding-right: 10px;
									position: relative;
									top: 6px;
								}
							}
						}
					}
				}
			}
			&.form-col-6{
				.input-group{
					> .is-active:not(.search_advanced_field){
						max-width: calc( (100% - 240px) / 6  );
						flex: 0 0 calc( (100% - 240px) / 6 );
						@media(max-width: 1024px){
							max-width: calc( (100% - 240px) / 3  )!important;
							flex: 0 0 calc( (100% - 240px) / 3 )!important;
							.field-group-content{
								border-bottom: 1px solid $border-color;
							}
						}
						@media(max-width: 800px){
							max-width: 100%!important;
							flex: 0 0 100%!important;
							border-right: 0;
							display: block;  
						}
						@media(max-width: 1024px){
							.search_advanced_field{
								margin-top: -86px!important;
							}
						}
					}
				}
			}
		}
	}
	&.layout-1{
		#search_form{
			.input-group{
				> .is-active{
					.field-group-content{
						ul.add_ids_list{
							left: -20px!important;
							right: -20px!important;
							@media(max-width: 1024px){
								left: 0!important;
								right: 0!important;
							}
						}
					}
				}
			}
		}
	}
	&.layout-1-2{
		#search_form{
			width: 100%;
			box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.05);
			border-radius: 8px;
			padding: 20px;
			background: $white;
			@media(max-width: 1024px){
				padding: 15px;
			}
			.input-group{
				> .is-active{
					padding: 0 20px 0 0;
					border-right: 0;
					@media(max-width: 800px){
						padding: 0;
					}
					.field-group-content{
						padding-bottom: 10px;
						border-bottom: 2px solid $border-color;
						ul.add_ids_list{
							margin-top: 5px!important;
							width: 100%;
							box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
							@media(max-width: 1024px){
								margin-top: 0!important;
							}
						}
					}
				}
				.search_advanced_field{
					padding-right: 15px;
					width: 60px;
				}
			}
			.submit{
				width: 170px;
				button{
					border-radius: 8px!important;
					height: auto;
				}
				@media(max-width: 800px){
					width: 100%;
					padding: 15px 0 0;
				}
			}
		}
	}
	&.layout-2{
		#search_form{
			padding: 30px;
			border: 1px solid rgba(0, 0, 0, 0.06);
			border-radius: 8px;
			.input-group{
				display: block;
				> .is-active{
					width: 100%;
					padding: 0;
					border: none;
					border-bottom: 1px solid $border-color!important;
					padding-bottom: 15px;
					margin-bottom: 15px;
					width: 100%!important;
					max-width: 100%!important;
					.field-group-content{
						border: none!important;
						padding: 0!important;
						margin: 0 !important;
					}
					ul.add_ids_list{
						left: 0;
						right: 0;
						margin-top: 15px!important;
						width: 100%;
						box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
					}
				}
 
				.search_advanced_field{
					position: relative;
					z-index: 1;
					border: none;
					margin: 0!important;
					.search_advanced_title{
						display: none;
					}
					.search_advanced_select_wrapper{
						display: block;
						position: relative;
						left: 0;
						right: 0!important;
						box-shadow: none;
						border: none;
						margin: 0;
						padding: 0;
						width: 100%;
						min-width: 100%;
						> div{
							border: none!important;
						}
						.price-header, .advanced-header{
							display: block;
						}
						.advanced-taxonomy-block{
							.add_ids_list{
								font-size: 16px;
								.term_item{
									width: 100%;
									flex-basis: 100%;
									max-width: 100%;
									padding: 5px 0;
								}
								.term_item_level_0:not(.term_item_checkbox){
									font-weight: 700;
									color: $black;
								}
							}
						}
					}
					.search_guests_apply{
						display: none;
					}
				}
				.submit{
					position: relative;
					width: auto;
					height: auto;
					padding: 0;
					margin: 0!important;
					.btn-search{
						border-radius: 8px;
						position: relative;
					}
				}
			}
		}
	}
}

