.elementor-editor-active {
	.tevily-single-booking-form #booking_form .input_group .list_service .view-list-details{
   	display: none!important;
   }
}  
.tevily-gva_ba_item_gallery{
	position: relative;
	.btn-gallery-video{
		bottom: 0;
		right: calc((100% - 1200px) / 2);
		//left: 50%;
		//transform: translateX(-50%);
		position: absolute;
		z-index: 111;
		padding: 6px 12px;
		background: #FAF5EE;
		border-radius: 6px 6px 0 0;
		.content-inner{
			> div{
				margin: 0 5px;
				float: left;
				a:nth-child(1){
					color: $theme-color;
					background: #EAE7E6;
					width: 32px;
					height: 32px;
					border-radius: 50%;
					z-index: 1;
					text-align: center;
					line-height: 33px;
					font-size: 13px;
					display: inline-block;
					&:hover{
						background: $theme-color;
						color: $white;
					}
				}
			}
		}
	}
}

.tevily-single-min_age, .tevily-single-duration, .tevily-single-taxonomy, .tevily-single-price_from, .tevily-single-max_guests{
	.content-inner{
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		.icon{
			padding-right: 10px;
			color: $theme-color;
		}
		.box-content{
			font-weight: 500;
			.ba-meta-title{
				font-size: 15px;
				margin: 0 0 2px;
				color: $body-color;
				font-weight: 500;
			}
			.item-value{
				color: $black;
			}
		}
	}
}
.tevily-single-price_from{
	.item_info_price_old{
		color: $body-color;
		font-size: 13px;
		margin-left: 4px;
		text-decoration: line-through;
	}
}

.tevily-single-taxonomy.style-2{
	.content-inner{
		display: block;
		.box-content{
			font-weight: 400;
			.ba-meta-title{
				font-size: 1.8rem;
				font-weight: 700;
				color: $black;
				margin-bottom: 16px;
			}
			.term-level-0{
				width: 50%;
				float: left;
				margin-bottom: 20px;
				.term-name{
					color: $black;
					font-size: 20px;
					margin-bottom: 6px;
				}
				.child-terms{
					font-weight: 400;
					padding-left: 20px;
				}
			}
			.term-item{
				width: 33.33%;
				float: left;
				line-height: 1.8;
				margin-bottom: 6px;
				font-size: 16px;
				padding-right: 10px;
				&:nth-of-type(3n+1){
					clear: both;
				}
				i{
					font-size: 28px;
					color: $theme-color;
					margin-right: 10px;
					position: relative;
					top: 9px;
				}
				@media(max-width: 1024.98px){
					width: 50%;
					&:nth-of-type(3n+1){
						clear: none;
					}
					&:nth-of-type(2n+1){
						clear: both;
					}
				}
				@media(max-width: 480px){
					width: 100%;
					&:nth-of-type(2n+1){
						clear: none;
					}
				}
			}
		}
	}
}

.tevily-single-address{
	font-size: 16px;
	font-weight: 500;
	i{
		color: $theme-color;
		position: relative;
		top: 2px;
		margin-right: 4px;
	}
}

.tevily-single-in-ex{
	font-size: 16px;
	ul{
		list-style: none;
		padding: 0;
		li{
			position: relative;
			&:before{
				font-family: "Font Awesome 5 Free";
				font-weight: 900;
				font-size: 14px;
				top: 0;
				left: 0;
				z-index: 1;
				display: inline;
			}
		}
	}
	&.type-included{
		ul{
			li{
				&:before{
					content: '\f00c';
					color: $theme-color;
				}
			}
		}
	}
	&.type-excluded{
		ul{
			li{
				&:before{
					content: '\f00d';
					color: $black;
				}
			}
		}
	}
}

.tevily-single-rating{
	.stars{
		.star{
			color: #FFA801;
		}
		.post-total-rating-value{
			font-weight: 500;
		}
	}
}

.tevily-single-booking-form{
	padding: 30px;
	&.style-1{
		background: #FAF5EE;
		border-radius: 8px;
	}
	&.style-2{
		background: $white;
		border-radius: 8px;
		box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
		border: 1px solid rgba(0, 0, 0, 0.06);
	}
	.box-title{
		font-size: 20px;
		border-bottom: 1px solid $border-color;
		padding-bottom: 10px;
		margin-bottom: 10px;
		position: relative;
		padding-left: 15px;
		&:after{
			content: '';
			width: 2px;
			background: $theme-color;
			position: absolute;
			top: 2px;
			bottom: 10px;
			left: 0;
			z-index: 1;
		}
	}
	#booking_form{
		.input_group{
			.booking-form-block{
				border-bottom-color: $border-color;
				.booking_form_input_label{
					color: $black;
					font-weight: 500;
					font-size: 16px;
				}
				.input_select_field{
					line-height: 24px;
					margin-bottom: 6px;
					.input_select_title_value{
						padding: 0 10px 0 0;
						flex-basis: 65%;
					}
					.input_select_wrapper{
						.input_select_input_value{
							line-height: 36px!important;
						}
						i{
							top: 16px;
						}
					}
					.input_select_wrapper{
						.input_select_list{
							border: 1px solid rgba(0, 0, 0, 0.1);
							box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
							> li{
								padding: 5px 10px;
							}
						}
					}
				}
				.booking-date{
					justify-content: flex-end;
					position: relative;
					max-width: 150px;
					border: 2px solid $border-color;
					border-radius: 4px;
					background: #fff;
					padding-left: 2px;
					i{
						color: $theme-color;
						font-size: 15px;
						padding: 2px;
					}
					input{
						border: none;
						font-size: 14px;
					}
				}
			}
			.booking-services-block{
				padding-bottom: 0;
				.booking_form_input_label{
					font-weight: 700;
				}
			}

			.list_service{
				.view-list-details{
					overflow: visible;
					max-width: 260px;
					max-height: 1000px;
					box-shadow: 0 0 20px rgba(0, 0, 0, 0.08);
					border-radius: 6px;
					padding: 18px 18px 8px;
					font-size: 15px;
					line-height: 26px;
					border: 1px solid $border-color;
					z-index: 111;
					top: -15px;
					margin-right: 30px;
					display: block!important;
					visibility: hidden;
					transition: all 0.3s;
					opacity: 0;
					&:before{
						content: "";
				    	position: absolute;
				    	z-index: 11;
				    	border-top: 1px solid $border-color;
				    	border-right: 1px solid $border-color;
				    	width: 12px;
				    	height: 12px;
				    	background: #fff;
				    	display: inline-block;
				    	transform: rotate(45deg);
				    	right: -6px;
				    	top: 30px;
					} 
					&:after{
						content: "";
						position: absolute;
						width: 20px;
						height: 100%;
						left: 100%;
						top: 0;
						z-index: 11;
					}
				}
				&:hover{
					.view-list-details{
						visibility: visible;
						margin-right: 20px;
						opacity: 1;
					}
				}
				.list_service_prices{
					.service_price_line{
						font-weight: 500;
						padding: 0 5px;
						label{
							color: $body-color;
						}
						.currency_amount{
							color: $black;
						}
					}
				}
			}

			.list_service_title, .booking_time_line{
				font-size: 0;
				color: transparent;
				line-height: 1.4;
				input[type="checkbox"], input[type="radio"]{
					display: none;
					& + label{
						color: $black;
						font-size: 14px;
						font-weight: 500;
						padding-left: 24px;
						position: relative;
						line-height: 22px;
						&:hover{
							cursor: pointer;
						}
						&:before{
							content: '';
							width: 16px;
							height: 16px;
							border: 1px solid #9da1a5;
							position: absolute;
							top: 50%;
							left: 0;
							margin-top: -8px;
							z-index: 1;
							border-radius: 3px;
						}
						&:after{
							content: '';
							width: 10px;
							height: 10px;
							background: $theme-color;
							position: absolute;
							top: 50%;
							left: 3px;
							margin-top: -5px;
							z-index: 1;
							border-radius: 3px;
							opacity: 0;
							transition: all 0.35s;
						}
					}
					&:checked{
						& + label{
							&:after{
								opacity: 1;
							}
						}
					}
				}
				> h4{
					font-weight: 400;
					font-size: 14px;
					position: relative;
					top: 5px;
				}
				> label{
					color: $black;
					font-size: 14px;
					font-weight: 500;
					padding-left: 6px;
					position: relative;
					line-height: 22px;
					font-size: 0;
					input{
						font-size: 14px;
						display: inline-block!important;
						margin-right: 6px;
						position: relative;
						top: 6px;
					}
					&:hover{
						cursor: pointer;
					}
				}
 
				input[type="radio"]{
					& + label{
						&:before, &:after{
							border-radius: 50%;
						}
					}
				}
			}
		}
		#total_group{
			color: $black;
			font-size: 20px;
			#booking_form_total{
				.currency_amount{
					font-size: 20px;
					font-weight: 700;
					color: $theme-color;
				}
			}
		}
		.submit_group{
			margin: 10px 0 0;
			.booking_form_submit{
				border: none;
				margin: 0;
				width: 100%;
				&:hover{
					box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
				}
			}
		}
	}
}

.tevily-single-rating-criteria{
	.box-content{
		display: flex;
		border: 1px solid $border-color;
		border-radius: 8px;
		align-items: center;
		justify-content: center;
	   @media(max-width: 560px){
	   	display: block;
	   }
		.rating-value{
			-webkit-box-flex: 0;
		   flex: 0 0 35%;
		   max-width: 35%;
		   padding: 50px;
		   text-align: center;
		   @media(max-width: 768px){
		   	padding: 30px 20px;
		   }
		   @media(max-width: 560px){
		   	width: 100%;
		   	max-width: 100%;
		   	border-bottom: 1px solid $border-color;
		   }
		   .rating-score{
		   	font-size: 80px;
		   	color: $black;
		   	@media(max-width: 768px){
		   		font-size: 60px;
		   	}
		   	span{
		   		font-size: 22px;
		   		color: $body-color;
		   	}
		   }
		   .vote-text{
		   	font-size: 20px;
		   	font-weight: 500;
		   	color: $theme-color;
		   }
		   .vote-number{
		   	line-height: 22px;
		   }
		}
		.all-review-progress{
			-webkit-box-flex: 0;
		   flex: 0 0 65%;
		   max-width: 65%;
		   border-left: 1px solid $border-color;
		   padding: 40px 50px 50px;
		   @media(max-width: 768px){
		   	padding: 30px 20px;
		   }
		   @media(max-width: 560px){
		   	width: 100%;
		   	max-width: 100%;
		   	border-left: 0;
		   }
		   .review-progress{
		   	margin-bottom: 16px;
	   		&:last-child{
	   			margin-bottom: 0;
	   		}
		   	.progress-meta{
		   		display: flex;
		   		justify-content: space-between;
		   		font-size: 16px;
		   		font-weight: 500;
		   		line-height: 30px;
		   		.item-title{
		   			color: $black;
		   		}
		   		.item-value{
		   			font-size: 15px;
		   			letter-spacing: 0.5px;
		   		}
		   	}
		   	.progress{
		   		height: 8px;
		   		background: #FAF5EE;
		   		border-radius: 6px;
		   		.progress-bar{
		   			background-color: $theme-color;
		   			border-radius: 6px;
		   		}
		   	}
		   }
		}

	}
}


//Comment
.comment-total-rating-stars{
	display: none!important;
}
.tevily-single-comment{
	.the-comment{
		.comment-rating-ul{
			display: flex;
			flex-wrap: wrap;
			margin: 10px 0 10px;
			> li{
				margin-right: 30px;
				margin-bottom: 10px;
				&:last-child{
					margin-right: 0;
				}
				> span{
					display: block;
					font-size: 15px;
					font-weight: 500;
					line-height: 24px;
					&.comment-rating-stars{
						font-size: 12px;
						letter-spacing: -2px;
					}
				}
			}
		}
	}
	form.comment-form{
		display: flex;
		flex-wrap: wrap;
		margin: 0 -15px;
		> div, > p, > ul{
		   flex: 0 0 100%;
		   max-width: 100%;
		   padding: 0 15px;
		   order: 20;
		}
		.comment-form-rating{
			display: none;
		}
		.logged-in-as{
			order: 1;
		}
		.h-info{
			order: 1;
		}
		.comment-form-rating-ul{
			order: 2;
			display: flex;
			flex-wrap: wrap;
			width: calc(100% - 210px);
			flex: 0 0 calc(100% - 210px);
			max-width: calc(100% - 210px);
			> li{
				margin-right: 30px;
				margin-bottom: 20px;
				min-width: 150px;
				@media(max-width: 1024px){
					min-width: 95px;
				}
				&:last-child{
					margin-right: 0;
				}
				> span{
					display: block;
					font-size: 16px;
					font-weight: 500;
					line-height: 24px;
					&.comment-form-rating-stars{
						letter-spacing: -2px;
						.star{
							padding: 0;
							font-size: 16px;
						}
					}
				}
			}
		}
		.avg-review{
			order: 3;
			width: 210px;
		   flex: 0 0 210px;
			max-width: 210px;
			.content-inner{
				background: #FAF5EE;
				text-align: center;
				border-radius: 8px;
				min-height: 120px;
				padding: 30px 0 30px;
				margin-bottom: 30px;
				> span{
					display: block;
				}
				.value{
					font-size: 30px;
					font-weight: 700;
					color: $rating-color;
				}
				.avg-title{
					font-size: 16px;
				}
			}
		}
		.cm-your-name, .cm-your-email{
			order: 4;
		   flex: 0 0 50%;
		   max-width: 50%;
		   padding: 0 15px;
		}
		.cm-your-email{
			order: 5;
		}
		.comment-form-cookies-consent{
			order: 21;
			margin: 18px 0 0;
		}
		.form-submit{
			order: 22;
		}
	}
}

.tevily-single-steps{
	.accordion-item{
		margin-bottom: 20px;
		border-radius: 8px;
		border: none;
		.accordion-header{
			a{
				border-radius: 8px 8px 0 0;
				box-shadow: none;
				background: none;
				border: 1px solid $border-color;
				border-bottom: 0;
				transition: all 0.2s;
				font-size: 18px;
				font-weight: 700;
				color: $black;
				&:after{
					background-size: 18px;
					margin-top: -5px;
					color: $black;
				}
				&.collapsed{
					border-radius: 8px;
					background: $theme-color-2;
					border-color: transparent;
					transition-delay: 0.3s;
					&:after{
						margin-top: 5px;
					}
				}
			}
		}
		.accordion-collapse{
			border: 1px solid $border-color;
			border-top: 0;
			border-radius: 0 0 8px 8px;
			.accordion-body{
				padding: 0 30px 6px;
			}
			&.show{
				border-color: $border-color;
			}
		}
	}
}

.tevily-single-address-map{
	#block_address_map_with_direction{
		border-radius: 8px;
		overflow: hidden;
		> h3{
			display: none; 
		}
	}
	.title{
		font-size: 1.8rem;
	}
}

.tevily-single-calendar{
	.box-content{

	}
}

.cal-month-block{
	.cal-month-bar{
		background: #313041;
		border-color: #313041;
	}
	.cal-week-name{
		margin: 0 1px;
    	text-align: center;
    	width: 100%;
    	font-weight: 500;
    	border-radius: 8px 8px 0 0;
    	padding: 9px 2px;
    	line-height: 24px;
    	color: $black;
    	background-color: #FAF8F4;
	}
	.cal-dates-block{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		margin-bottom: 2px;
		border-top: 1px solid $border-color;
	}
	.cal-cell{
		position: relative;
		flex-basis: 14.2857%;
		text-align: right;
		border: 1px solid $border-color;
		border-right: 0;
		border-top: 0;
		padding: 10px 15px;
		box-sizing: border-box;
		min-height: 55px;
		@media(max-width: 900px){
			padding: 10px 5px;
		}
		&:nth-child(7n){
			border-right: 1px solid $border-color;
		}
		&.cal-cell-empty, &.cal-cell-disabled{
			background: #FAF8F4;
		}
		&.cal-cell-invisible{
			display: none;
		}
		&.cal-cell-active{
			transition: all 0.35s;
			&:hover{
				background: #313041;
				box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
				.cal-cell-date{
					color: $white;
				}
			}
		}
		.cal-cell-date{
			font-size: 16px;
			line-height: 24px;
			color: $black;
		}
		.cal-cell-pricefrom{
			font-size: 14px;
			padding-top: 8px;
			font-weight: 500;
			color: $theme-color;
			@media(max-width: 900px){
				font-size: 11px;
			}
			.currency_amount{
				color: $theme-color;
			}
		}

	}
}

.view-rate-details{
	font-size: 16px!important;
	padding: 20px!important;
	border-radius: 6px;
	border: 1px solid rgba(0, 0, 0, 0.08)!important;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.08);
	top: 100%;
	margin-top: -1px;
	width: 280px;
	h4{
		font-size: 20px;
		margin: 0;
	}
	.rate_price_general{
		font-size: 18px;
		color: $theme-color;
		> span{
			font-size: 14px;
			line-height: 22px;
			display: inline;
			text-decoration: none;
			color: $body-color;
			&.rate_details_label{
				display: block;
				color: $black;
				font-weight: 500;
				font-size: 16px;
			}
			&.price_age_title{
				position: relative;
				&:after{
					content: ':';
					padding-left: 1px;
					font-weight: 500;
				}
			}
			&.price_age_value{
				margin-left: 1px;
			}
		}
	}
}

.tevily-ba-single-gallery{
	position: relative;
	.swiper-nav-next{
		right: 10px!important;
	}
	.swiper-nav-prev{
		left: 10px!important;
	}
	.ba-media{
      font-size: 16px;
      line-height: 1;
      background: rgba(0, 0, 0, 0.5);
      a{
         color: $white;
         margin-left: 12px;
         i{
            font-size: 23px;
         }
         &.ba-gallery{
            margin-left: 0;
            position: relative;
            span{
               display: inline-block;
               background: $theme-color;
               color: $white;
               width: 14px;
               height: 14px;
               border-radius: 50%;
               line-height: 1;
               font-size: 11px;
               line-height: 14px;
               position: absolute;
               text-align: center;
               right: -4px;
               top: -6px;
            }
         }
         &:hover{
            color: $theme-color;
         }
      }
   }
   &.style-1{
   	.ba-media{
	   	position: absolute;
			right: 0;
			bottom: 0;
			z-index: 11;
			padding: 10px 20px;
		}
   }
	&.style-2{
		overflow: hidden;
		border-radius: 8px;
		.ba-media{
			position: absolute;
			right: 0;
			bottom: 0;
			z-index: 11;
			padding: 10px 20px;
		}
	}
}

.tevily-single-wishlist{
   .wishlist-icon{
      .ajax-wishlist-link{
      	background: #F0F3F6;
		  color: $body-color;
		  font-size: 13px;
		  font-weight: 500;
		  text-transform: uppercase;
		  letter-spacing: 1px;
		  padding: 5px 18px;
		  border-radius: 4px;
		 display: inline-block;
		  i{
		    margin-right: 5px;
		  }
         .icon{

         }
         &.wishlist-added{
            color: $theme-color;
            background: $theme-color-2;
            .icon{
               &:before{
                  font-weight: 900;
               }
            }
         }
         &.ajax-preload{
            opacity: 0.68;
         }
      }
   }
}

