.gva-user{
   line-height: 1;
   .login-account{
      position: relative;
      font-size: 15px;
      display: inline-block;
      text-transform: capitalize;
      line-height: 1;
      .profile{
         display: inline-block;
         transition: all 0.35s;
         &:hover{
            cursor: pointer;
            color: $theme-color;
         }
         .avata:not(.without-login){
            @include size(45px, 45px);
            border-radius: 50%;
            float: left;
            margin-top: 1px;
            overflow: hidden;
            border: 1px solid rgba(0, 0, 0, 0.06);
         }
         .avata-icon{
            font-size: 22px;
            width: 45px;
            height: 45px;
            line-height: 50px;
            background: $bg-gray;
            border-radius: 50%;
            text-align: center;
            padding-right: 1px;
         }
      }
      .user-account{
         position: absolute;
         top: calc(100% + 15px);
         right: -20px;
         width: 270px;
         background: $white;
         z-index: 11;
         padding: 20px 25px 18px;
         margin-top: 10px;
         box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
         border: 1px solid $border-color;
         @include opacity(0);
         transform: rotateX(-90deg);
         transform-origin: 0 0;
         transition: all 0.25s;
         border-radius: 0.3rem;
         &:after{
            content: '';
            border: 10px solid transparent;
            border-bottom-color: $border-color;  
            position: absolute;
            bottom: 100%;
            right: 30px;
         }
         .hi-account{
            text-transform: capitalize;
            font-weight: 500;
            color: $black;
            text-align: left;
            padding-bottom: 12px;
            margin-bottom: 5px;
            border-bottom: 1px solid $border-color;
         }
         .my_account_nav_list{
            li{
               display: block;
               width: 100%;
               text-align: left;
               padding: 3px 0;
               background: none;
               > .my_account_nav_item_title{
                  display: none;
               }
               a{
                  padding: 5px 0; 
                  font-weight: 400;
                  font-size: 15px;
                  color: $body-color;
                  .my_account_nav_item_title{
                     padding: 0;
                     i{
                        font-size: 21px;
                        width: 22px;
                        margin-right: 10px;
                        position: relative;
                        top: 2px;
                     }
                  }
                  &:hover{
                     color: $theme-color;
                  }
               }
            }
            .my_account_nav_item_logout{
               margin-top: 8px;
               padding-top: 8px;
               border-top-color: $border-color;
            }
         }
         .menu-item-logout{
            text-align: left;
            padding-top: 3px;
            a{
               font-weight: 400;
               font-family: $headings-font-family;
               font-size: 16px;
               color: $body-color;
               i{
                  margin-right: 10px;
               }
               &:hover{
                  color: $theme-color;
               }
            }
         }
      }
      &.open{
         .user-account{
            transform: rotateX(0);
            opacity: 1;
         }
      }
      &:hover{
         .profile{
            .name{
               color: $theme-color;
               .icon{
                  color: $theme-color;
               }
            }
         }
      }
      &.without-login{
         .user-account{
            max-width: 220px;
            ul{
               li{
                  margin-bottom: 12px;
                  .icon{
                     width: 20px;
                  }
                  &:last-child{
                     margin-bottom: 0;
                  }
               }
            }
         }
         &.open{
            .profile{
               .avata-icon{
                  i{
                     color: $theme-color;
                  }
                  svg{
                     fill: $theme-color;
                  }
               }
            }
         }
      }
   }
}

.modal-ajax-user-form{
   .close{
      @include size(28px, 28px);
      background: $theme-color;
      color: $white;
      position: absolute;
      top: 0;
      right: 0;
      opacity: 1;
      transition: all 0.35s;
      font-size: 24px;
      line-height: 24px;
      border: 0;
      border-radius: 0 0 0 4px;
      z-index: 99;
      &:hover{
         opacity: 0.8;
      }
   }
   .ajax-user-form{
      padding: 15px 35px 5px;
      .form-status{
         font-size: 14px;
         line-height: 24px;
         a{
            display: none!important;
         }
      }
      .title{
         text-align: center;
         font-size: 22px;
         margin: 0 0 20px;
         padding: 0 0 10px;
         font-weight: 600;
         position: relative;
         &:after{
            content: '';
            @include size(50px, 2px);
            background: $theme-color;
            position: absolute;
            bottom: 0;
            left: 50%;
            margin-left: -25px;
            z-index: 1;
         }
      }
      form{
         .form-group{
            margin-bottom: 20px;
            label{
               color: $black;
               font-weight: 600;
            }
         }
         .form-action{
            input{
               padding: 16px;
            }
         }
      }
      .lost-password, .user-registration{
         text-align: center;
         a{
            color: $theme-color;
            &:hover{
               text-decoration: underline;
            }
         }
      }
      .user-registration{
         margin-top: 10px;
      }
   }
   .ajax-form-content{
      &.ajax-preload{
         .form-action{
            position: relative;
            &:after{
               content: '';
               @include size(100%, 100%);
               position: absolute;
               top: 0;
               left: 0;
               z-index: 11;
               border: 1px solid $theme-color;
               background: url('#{$image-theme-path-base}/preloader-2.gif') no-repeat center center rgba(255, 255, 255, 0.92);
            }
         }
      }
   }
}